<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">MylNFC</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <!--<a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>-->
          <!--<a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">About</span></a>-->
          <form class="search">
              <label for="search_input">
                  <input id="search_input" type="text" placeholder="Rechercher un colis" disabled>
              </label>
          </form>
      </div>
  </clr-header>
  <div class="content-container">
      <nav class="sidenav">
          <section class="sidenav-content">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/livraisons']">Livraisons</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/clients']">Clients</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/livreurs']">Livreurs</a>
          </section>
      </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
